{% extends 'core/base.html' %}

{%block content%}

<div class= 'container mt-5 text-justify'>
    <h1 class=" text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">

        <div class ="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2xl mb-3 i-color"></i>
            <h3>SEO</h3>

            <p class='.ss-color'>
                Improve your search engine rankings. Drive more organic traffic 
            </p>
        </div>

        <div class ="col-sm-4">
            <i class="fa-brands fa-python fa-2xl mb-3 i-color"></i>
            <h3>Web Desigh</h3>

            <p class='.ss-color'>
                Create stunning and responsive websites. Tailored designs for your brand.
            </p>
        </div>

        <div class ="col-sm-4">
            <i class="fa-solid fa-code fa-2xl mb-3 i-color"></i>
            <h3>Web Development</h3>

            <p class='.ss-color'>
                Build dynamic and robust web applications. Custom solutions for your needs. 
            </p>
        </div>

        <div class="row text-center text-white mb-5">

            <div class ="col-sm-4">
                <i class="fa-brands fa-android fa-2xl mb-3 i-color"></i>
                <h3>Androide</h3>
    
                <p class='.ss-color'>
                    Develop powerful Android apps. Seamless performance and user experience
                </p>
            </div>
    
            <div class ="col-sm-4">
                <i class="fa-brands fa-apple fa-2xl mb-3 i-color"></i>
                <h3>ios</h3>
    
                <p class='.ss-color '>
                    Create feature-rich iOS applications. Elegant design and functionality. 
                </p>
            </div>
    
            <div class ="col-sm-4">
                <i class="fa-solid fa-ad fa-2xl mb-3 i-color"></i>
                <h3>Adertising</h3>
    
                <p class='.ss-color'>
                    Promote your brand effectively. Targeted campaigns for maximum reach 
                </p>
            </div>

            <div class="row text-center text-white mb-5">

                <div class ="col-sm-4">
                    <i class="fa-solid fa-pencil-alt fa-2xl mb-3 i-color"></i>
                    <h3>Logo Design</h3>
        
                    <p class='.ss-color'>
                        Craft unique logos for your brand. Professional and memorable designs. 
                    </p>
                </div>
        
                <div class ="col-sm-4">
                    <i class="fas fa-database fa-2xl mb-3 i-color"></i>
                    <h3>Hosting</h3>
        
                    <p class='.ss-color'>
                        Reliable and secure web hosting. 24/7 support and uptime guarantee. 
                    </p>
                </div>
        
                <div class ="col-sm-4">
                    <i class="fa-solid fa-headset fa-2xl mb-3 i-color"></i>
                    <h3>Support</h3>
                    <p class='.ss-color'>
                        24/7 customer support. Assistance with all your technical issues
                    </p>
                </div>

        

    </div>    

</div>

{% endblock content%}